/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
  background-color: #333333; // o el gris oscuro que elegiste
  margin: 0;
  padding: 0;
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

/* Desactiva los estilos nativos */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 16px;
  /* espacio vertical para track y thumb */
  background: transparent;
  cursor: pointer;
  position: relative;
}

/* Barra base (track) */
input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  overflow: hidden;
  position: relative;
}

/* Simulación del progreso (antes del thumb) usando box-shadow en el thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 8px;
  background: white;
  border-radius: 9999px;
  box-shadow: -1000px 0 0 1000px white;

  //margin-top: 0px; /* Alinear el thumb con el track */
  /* centrado vertical: (alto del track - alto del thumb) / 2 */
  margin-top: calc((8px - 8px) / 2);

  position: relative;
  z-index: 2;
  //border: 2px solid rgba(255, 255, 255, 0.8);
  transition: background 0.2s ease;
}

/* Firefox support */
input[type="range"]::-moz-range-track {
  height: 8px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
}

input[type="range"]::-moz-range-progress {
  background: white;
  height: 8px;
  border-radius: 9999px;
}

input[type="range"]::-moz-range-thumb {
  width: 0px;
  height: 8px;
  background: white;
  border-radius: 9999px;
  box-shadow: -1000px 0 0 1000px white;

  //margin-top: 0px; /* Alinear el thumb con el track */
  /* centrado vertical: (alto del track - alto del thumb) / 2 */
  margin-top: calc((8px - 8px) / 2);

  position: relative;
  z-index: 2;
  //border: 2px solid rgba(255, 255, 255, 0.8);
  transition: background 0.2s ease;
}

input[type="range"]:focus {
  outline: none;
  /* quita el borde azul predeterminado */

}

input[type="range"]:focus-visible {
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.2);
  /* halo suave tipo macOS */
  border-radius: 9999px;
  /* opcional: bordes redondeados */
  padding: 4px 6px;
}














#flipbook {
  perspective: 1000px;
}

#flipbook .page {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#flipbook img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@theme {
  --breakpoint-sm-450: 450px;
}