<!-- Vista previa flotante sobre el thumb -->
<div class="absolute z-50 transition-opacity duration-200 pointer-events-none" [ngClass]="visorPositionClass"
    [ngStyle]="{ left: thumbLeft + 'px' }" *ngIf="isDragging">
    <div
        class="bg-black/40 backdrop-blur text-white rounded-2xl shadow-xl p-2 flex flex-col items-center w-[120px] sm:w-[200px]">
        <div class="flex gap-1 w-full justify-center">
            <img *ngIf="previewImages.length === 1" [src]="previewImages[0]"
                class="rounded-xl object-contain h-[100px] w-full" />
            <ng-container *ngIf="previewImages.length === 2">
                <img [src]="previewImages[0]" class="rounded-xl object-contain h-[100px] w-1/2" />
                <img [src]="previewImages[1]" class="rounded-xl object-contain h-[100px] w-1/2" />
            </ng-container>
        </div>
        <div class="text-xs mt-2">Página {{ previewLabel }}</div>
    </div>
</div>



<!-- Contenedor inferior -->
<div class="fixed bottom-[2vh] left-1/2 -translate-x-1/2 z-50 pointer-events-auto 
    w-[85vw] sm:w-[85vw] md:w-[80vw] lg:w-[70vw] xl:w-[65vw] min-w-[200px]">
    <div class="w-full bg-black/40 backdrop-blur text-white rounded-full shadow-lg space-y-3 
    px-6 sm:px-8 md:px-9
    py-2">

        <!-- Slider de páginas (funcional como slider) -->
        <input #pageSlider type="range" min="1" [max]="totalPages" [(ngModel)]="currentPage"
            (mousedown)="onSliderStart()" (touchstart)="onSliderStart()" (input)="onSliderMove()"
            (mouseup)="onSliderEnd()" (touchend)="onSliderEnd()"
            class="w-full h-[7px] bg-white/20 rounded-full accent-white cursor-pointer page-slider" />


        <!-- Controles -->
        <div class="flex items-center justify-between w-full h-[24px]">

            <!-- Izquierda: Número de página -->
            <div class="text-sm font-medium text-center" [ngStyle]="{ width: pageTextWidth }">
                {{ currentPage }}-{{ currentPage + 1 }}/{{ totalPages }}
            </div>

            <!-- Centro: Control de Zoom (20% del ancho y centrado) -->
            <div class="hidden sm-450:flex items-center justify-center w-[30%] gap-2">
                <button (click)="zoomOut()" class="text-white hover:text-gray-300">
                    <span class="text-xl leading-none">−</span>
                </button>
                <input type="range" min="0.5" max="4" step="0.1" [(ngModel)]="zoom"
                    class="w-full h-[7px] accent-white min-w-[120px]" />
                <button (click)="zoomIn()" class="text-white hover:text-gray-300">
                    <span class="text-xl leading-none">+</span>
                </button>
            </div>

            <!-- Derecha: Iconos -->
            <div class="flex gap-4 items-center">
                <button (click)="downloadPDF()" class="hover:text-gray-300 transition-colors">
                    <lucide-angular [img]="downloadIcon" class="w-5 h-5"></lucide-angular>
                </button>
                <button (click)="toggleFullscreen()" class="hover:text-gray-300 transition-colors">
                    <lucide-angular [img]="maximizeIcon" class="w-5 h-5"></lucide-angular>
                </button>
            </div>
        </div>
    </div>
</div>


<div *ngIf="true" class="h-screen w-screen flex flex-col justify-center items-center gap-6">





    <div class="flipbook-wrapper select-none zoom-wrapper border" [ngStyle]="{
        width: wrapperWidth + 'px',
        height: wrapperHeight + 'px',
        top: getWrapperPosition().top + 'px',
        left: getWrapperPosition().left + 'px',
        position: 'absolute',
        borderColor: 'red',
        borderWidth: '2px',
        borderStyle: 'solid'
      }">

        <div #flipbook id="flipbook" class="opacity-40" style="touch-action: none" [ngClass]="{
            'transition-all duration-700 ease-in-out': true
          }">

            <div *ngFor="let image of pages" class="page">
                <img [src]="image" (load)="onImageLoad()" />
            </div>

        </div>

        <div *ngIf="false" class="absolute top-0 left-0 z-20 pointer-events-auto bg-red-500"></div>

        <div class="absolute top-0 right-0 w-20 h-20 z-20 pointer-events-none" [class.pointer-events-auto]="false">
        </div>
    </div>